@import "./base.css";
@import "./reset.css";


.nearby-list {
    list-style: none;
}

.nearby-list li {
    background: white;
    border-left: 4px solid blue;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    font-size: 30px;
}

.padding {
    padding: 15px;
}

.margin-top {
    margin-top: 30px;
}

.margin_top {
    margin-top: 15px;
}

.text-align {
    text-align: center;
}

.btn {
    border-radius: 20px;
    background: var(--primary-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    animation: pulse 2s infinite;
}