@import "./base.css";
@import "./reset.css";


.nearby-list {
    list-style: none;
}

.nearby-list li {
    border-left: 4px solid var(--primary-color);
    border: 1px solid var(--primary-color);
    display: flex;
    width: 70%;
    margin-left: 200px;
    padding: 20px;
    justify-content: space-between;
    border-radius: 6px;
    font-size: 30px;
}

.padding {
    padding: 15px;
}

.margin-top {
    margin-top: 30px;
}

.margin_top {
    margin-top: 15px;
}

.text-align {
    text-align: center;
}

.btn {
    border-radius: 20px;
    background: var(--primary-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    animation: pulse 2s infinite;
    margin-left: 550px;
    color: var(--light);
}

.btn:hover {
    color: var(--light);
    background-color: var(--background);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
    background: var(--primary-color);
}

.bg {
    background: var(--secondary-color);
    font-size: 20px;

}