@import "./base.css";
@import "./reset.css";

.route-form {
    display: grid;
    gap: 15px;
    background: var(--light);
    padding: 20px;
    border-radius: 10px;
}

.route-form select {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
}

.route-result {
    margin-top: 30px;
    background: var(--light);
    padding: 20px;
    border-radius: 10px;
    display: none;
}

h1 {
    text-align: center;
    text-decoration: underline solid var(--primary-color);
    margin-top: 30px;
}

.btn {
    background: var(--primary-color);
    padding: 8px;
    border-radius: 8px;
    color: var(--light);
    border: none;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.btn:hover {
    transform: scale(1);
    transition: 0.8s;
    background-color: var(--secondary-color);
}

.route-result ol {
    margin-left: 20px;
    line-height: 2;
}